.container
    .col
        .row
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
            .col-12.col-md-4.col-sm-6.p-3
                .card
                    img(src="/images/bg2.jpg", alt="", class="card-img-top pic-size")
                    .card-body
                        h5.card-title Covid Test 
                        a(class="btn btn-success text-light btn-block") Download High Resolution
 

           

